<?xml version="1.0"?>
<!-- 
   Simple config for IIS debugging
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <system.webServer>
        <staticContent>
        <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>